.hidden {
    opacity: 0;
}

.console-container {
    z-index: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    width: 650px;
    display: block;
    position: absolute;
    color: #fff;
    margin: auto;
}

.console-underscore {
    display: inline-block;
    position: relative;
    color: #fff;
}