$redColor: rgba(244, 67, 54, 1);
$blueColor: rgba(33, 150, 243, 1);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import 'console.scss';
* {
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: relative;
}

.main {
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 260px;
    margin: auto;
    width: 650px;
}

.links {
    padding-top: 80px;
    font-size: 40px;
    width: 200px;
    margin: 0 auto;
}

h1,
h2 {
    font-size: 50px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    width: calc(100% - 20px);
}

h2 {
    font-size: 25px;
    text-align: center;
    padding: 10px;
}

#flood-right {
    color: #fff;
    transition: .25s ease-in-out;
    box-shadow: inset 0px 0 0 0 #fff;
    &:hover {
        color: black;
        box-shadow: inset 650px 0 0 0 #fff;
    }
}

.a-formating-destroyer {
    text-decoration: none;
}

.icon-3d {
    padding: 10px;
    color: #fff;
    &:hover {
        -webkit-animation: icon3d 200ms infinite;
        animation: icon3d 200ms infinite;
    }
}

@keyframes icon3d {
    0% {
        text-shadow: 5px 4px $redColor, -5px -6px $blueColor;
    }
    25% {
        text-shadow: -5px -6px $redColor, 5px 4px $blueColor;
    }
    50% {
        text-shadow: 5px -4px $redColor, -8px 4px $blueColor;
    }
    75% {
        text-shadow: -8px -4px $redColor, -5px -4px $blueColor;
    }
    100% {
        text-shadow: -5px 0 $redColor, 5px -4px $blueColor;
    }
}

@media (max-width: 650px) {
    .main {
        top: 40%;
        width: 100%;
    }
}